

<div class="main-column" id="main-column">
  <div class="articles">
    <h2>Latest articles</h2>
    <% Article.last(3).each do |article|%>
      <div class="article-featured">
        <span class="date-featured"><%= article.created_at.strftime("%d %b. %Y")%></span>
        <img src="https://picsum.photos/300/200">
        <h3><%= link_to article.title, article %></h3>
        <p><%= article.text%></p>
        <p>Comments: <span class = "comment-count" id="comment-count"><%= article.comments.count%></span></p>
      </div>
    <% end %>
  </div>

  <div class="events">
    <%if user_signed_in? && current_user.events%>
      <h2>My events</h2>
      <% current_user.events.last(3).each do |event|%>
        <div class="event-featured">
          <%= image_tag "contest.png" %>
          <h3><%= link_to event.name, event %></h3>
          <ul>
            <li><%= event.date %></li>
            <li><%= event.budget %></li>
            <li><%= event.location %></li>
          </ul>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="sidebar" id="sidebar">

  <div class="welcome-image" id="welcome-image">
    <%= image_tag "ace_welcome.jpeg" %>
  </div>

  <div class="welcome-text" id="welcome-text">
    <h2>Welcome!</h2>
    <p>My name is Julien and my life is all about coding now.</p>
  </div>

  <div class="search-app" id="search-app">
    <h2>Search this app</h2>
    <%= form_with scope: :article, url: articles_path, local: true do |form| %>
    <%= text_area_tag 'keywords' %>
    <%= form.submit %>
    <% end %>
  </div>

  <div class="popular-articles" id="popular-articles">
    <h2>Popular articles</h2>
    <% Article.last(3).each do |article|%>
      <div class="article-sidebar">
        <img src="https://picsum.photos/300/200">
        <h3><%= link_to article.title, article %></h3>
        <% if article.text.length > 100 %>
          <p><%= article.text.first(100)+"..."%></p>
        <% else %>
          <p><%= article.text%></p>
        <% end %>
      </div>
    <% end %>
  </div>


</div>
