<%= form_with scope: :event, url: events_path, local: true do |form| %>

<h2>Event details</h2>
<p>
  <%= form.label :name %><br>
  <%= form.text_field :name %>
</p>
  <p>
    <%= form.label :date %><br>
    <%= form.date_field :date %>
  </p>

  <p>
    <%= form.label :location %><br>
    <%= form.text_field :location %>
  </p>

  <p>
    <%= form.label :budget %><br>
    <%= form.text_field :budget %>
  </p>

<h2>Add participants</h2>
    <%= text_area_tag 'email'%>


  <p>
    <%= form.submit %>
  </p>
<% end %>
