<h1>Events</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>Location</th>
    <th>Budget</th>
    <th>Participants</th>
  </tr>

  <% @events.each do |event| %>
    <tr>
      <td><%= event.name %></td>
      <td><%= event.date %></td>
      <td><%= event.location %></td>
      <td><%= event.budget %></td>
      <% if event.participants.any?  %>
        <td><%= event.participants.map(&:email) %></td>
      <% else %>
        <td>Aucun participant pour le moment</td>
      <% end %>
      <td><%= link_to 'Show', event_path(event) %></td>
      <td><%= link_to 'Edit', edit_event_path(event) %></td>
      <td><%= link_to 'Destroy', event_path(event),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>


  <%= link_to 'New event', new_event_path %>

</table>


  <%= link_to 'Back', :back %>
