
<h1>Event details</h1>
<p>Name: <%= @event.name %></p>
<p>Date: <%= @event.date %></p>
<p>Location: <%= @event.location %></p>
<p>Budget: <%= @event.budget %></p>
<% if @event.participants.any?  %>
  <p>Participants: <%= @event.participants.map(&:email) %></p>
<% end %>
<%= link_to 'Back', events_path %>
