<!DOCTYPE html>
<html>
  <head>
    <title>Learning_app</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Staatliches">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>

  <body>
    <% if notice.present? %>
      <p class="notice"><%= notice %></p>
    <% end %>

    <% if alert.present? %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <div class="container" id="container">

      <div class="header" id="header">
        <div class="home-title" id="home-title">
          <h1><%= link_to 'Welcome to my learning app!', root_path %></h1>
          <span>Learning to be the best</span>
        </div>
        <div class="mobile-nav" id='mobile-nav'>
          <a onclick="ShowMenu()">Menu</a>
        </div>
          <div class="mobile-links" id="mobile-links">
            <%= link_to 'Home', root_path %>
            <%= link_to 'My Blog', articles_path %>
            <%= link_to 'My Topics', topics_path %>
            <%= link_to 'My Events', events_path %>
            <a href="#">About Me</a>
          </div>
        <div class="navigation" id='navigation'>
          <%= link_to 'Home', root_path %>
          <%= link_to 'My Blog', articles_path %>
          <%= link_to 'My Topics', topics_path %>
          <%= link_to 'My Events', events_path %>
          <a href="#">About Me</a>
        </div>

        <div class="login" id="login">
          <% if user_signed_in? %>
            <p><%= current_user.email.split("@").first %></p>
            <%= link_to((image_tag "signout.png"), destroy_user_session_path, :method => :delete) %>
          <% else %>
            <%= link_to (image_tag "login.png"), new_user_session_path %>
          <% end %>
        </div>

      </div>

        <%= yield %>

      <div class="footer" id="footer">
        <span>Learning_app by <span id="name">Julien Pierlot</span></span>
      </div>

    </div>

  </body>
</html>
