<!DOCTYPE html>
<html>
  <head>
    <title>Learning_app</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Staatliches">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>

  <body>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="container" id="container">

      <div class="header" id="header">
        <div class="home-title" id="home-title">
          <h1><a href="/">Welcome to my learning app!</a></h1>
          <span>Learning to be the best</span>
        </div>
        <div class="mobile-nav" id='mobile-nav'>
          <a onclick="ShowMenu()">Menu</a>
        </div>
          <div class="mobile-links" id="mobile-links">
            <a href="/">Home</a>
            <%= link_to 'My Blog', articles_path %>
            <%= link_to 'My Topics', topics_path %>
            <%= link_to 'My Events', events_path %>
            <a href="#">About Me</a>
          </div>
        <div class="navigation" id='navigation'>
          <a href="/">Home</a>
          <%= link_to 'My Blog', articles_path %>
          <%= link_to 'My Topics', topics_path %>
          <%= link_to 'My Events', events_path %>
          <a href="#">About Me</a>
        </div>
      </div>

        <%= yield %>

      <div class="footer" id="footer">
        <span>Learning_app by <span id="name">Julien Pierlot</span></span>
      </div>

    </div>

  </body>
</html>
